.mac {
    background-image: url(apple-store-assets/sec-1-product-1.jpg);
}

.iphone {
    background-image: url(apple-store-assets/sec-1-product-2.jpg);
}

.ipad {
    background-image: url(apple-store-assets/sec-1-product-3.jpg);
}
 
.applewatch {background-image: url(apple-store-assets/sec-1-product-4.jpg);}