* {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 200;
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

header {
    display: flex;
    width: 100%;
    height: 44px;
    background: rgba(245, 245, 247, 0.80);
    backdrop-filter: blur(10px);
    position: fixed;
    margin: 0;
    padding: 0;
    font-size: 12px;

}

nav {
    margin: 0;
    padding-top: 8px;
    width: 100%;
    height: 56px;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.nav-text {
    padding-top: 8px;
}

.nav-icon {
    margin-top: -10px;
    width: 16px;
    height: auto;
}

.header-bottom-text-container {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: end;
}

.text.pay-monthly {
    margin: 0;
    width: 100%;
    height: 58px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);

}

.colorful-line {
    width: 100%;
    height: 24px;
    display: flex;
    background: linear-gradient(to right, #72e1f4, rgb(24, 27, 240), rgb(73, 3, 249), rgb(212, 0, 212), rgb(255, 157, 0), rgb(255, 222, 10));
    filter: blur(20px);
    position: relative;
    z-index: -1;
}

/* ----------SECTION--------------*/

section {
    width: 100%;
    height: 600px;
    border: #000d0f solid;
    margin: 1px
}

/* ONLY SEC-1 */
.mini-products {
    margin-top: 90px;
    background-color: orange;
}

.section-1-title-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50%;
    background-color: aquamarine;
}

.sec-1-product-container {
    width: 100%;
    height: 50%;
    display: flex;
}


/* -------END----- */
.title-container {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: space-between;
    background-color: rgb(233, 253, 220);
}

.product-container {
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    background-color: #ffffff;
}


.all-product-set {
    display: flex;
    align-items: center;
    width: 100%;
    height: 500px;
    gap: 10px;
    background-color: rgb(249, 242, 233);
    overflow: auto;
}

.product-and-name-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon {
    display: flex;
    background-position: center;
    background-size: cover;

}

.product {
    background-color: rgb(221, 221, 255);
    width: 150px;
    height: 120px;
    justify-content: center;
    align-items: flex-end;
}

.name {
    background-color: #9aee1c;
}