* {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 200;
}

body {
    width: 100%;
    height: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
    background: #FFF;
}



header {
    display: flex;
    width: 100%;
    height: 44px;
    background: rgba(245, 245, 247, 0.80);
    backdrop-filter: blur(10px);
    position: fixed;
    margin: 0;
    padding: 0;
    font-size: 13px;
}

.donate {
    margin: 0;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1D1D1F;
    color: #1D1D1F;
    text-align: center;
    font-size: 14px;
}

.shoplink {font-size: 11px;  
padding-top: 20px;   }

nav {
    width: 100%;
    height: 44px;
    display: flex;
    justify-content: center;
    gap: 19.14px;
   

}

a {
    height: 44px;
}

.head-space {
    width: 100%;
    height: 44px;
    display: flex;
}

.header-text {
    padding-top: 12px;

}

/* BACKGROUND IMAGES */
.top {
    background-image: url(./apple\ img/apple-sec-1.jpeg)
}

.middle {
    background-image: url(./apple\ img/apple-sec-2.jpeg);
}

.bottom {
    background-image: url(./apple\ img/apple-sec-3.jpeg);
}

.ipad-air {
    background-image: url(./apple\ img/apple-sec-4.1.jpeg);
}

.airpod2 {
    background-image: url(./apple\ img/apple-sec-4.2.jpeg);
}

.iwatch {
    background-image: url(./apple\ img/apple-sec-5.1.jpeg);
}

.macbook-air {
    background-image: url(./apple\ img/apple-sec-5.2.jpeg)
}

.trade-in {
    background-image: url(./apple\ img/apple-sec-6.1.jpeg);
}

.card {
    background-image: url(./apple\ img/apple-sec-6.2.jpeg);
}

.movie-img1 {
    background-image: url(./apple\ img/movie-1.jpg);
}

.movie-img2 {
    background-image: url(./apple\ img/movie-2.jpg);
}

.movie-img3 {
    background-image: url(./apple\ img/movie-3.jpg);
}

.content-1 {
    background-image: url(./apple\ img/plus-1.jpg);
}

.content-2 {
    background-image: url(./apple\ img/plus2.jpg);
}

.content-3 {
    background-color: rgba(27, 38, 50, 1);
    background-image: url(./apple\ img/plus3.jpg; );
    display: flex;
}

.content-4 {
    background-image: url(./apple\ img/plus4.jpg);
}

.content-5 {
    background: #EBB799;
}


/* END IMAGE */

section {margin-top: 10px;
    background-size: cover;
    background-position: center;
}

.main-page {
    width: 100%;
    height: 692px;
    text-align: center;
}

.bottom {
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
}

.text-container-bottom {
    position: absolute;
    top: 60%;
}

.text-top {
    margin: 0;
    border: 0;
    padding-top: 55px;
    color: #F5F5F7;
    text-align: center;
    line-height: 60px;
    font-size: 51.406px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.28px;
}

.text-middle {
    margin: 0;
    border: 0;
    color: #F5F5F7;
    text-align: center;
    line-height: 32px;
    font-size: 24.281px;
    font-style: normal;
    font-weight: 200;
    line-height: 32px;
    letter-spacing: 0.196px;
}

.btn-container {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;


}

button {
    border-radius: 980px;
    min-width: 74px;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16.867px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: -0.374px;
}

.splited-page button {
    width: 104.25px;
    height: 36px;
    color: #FFF;
    text-align: center;
    font-size: 13.891px;

    letter-spacing: -0.224px;
}

.bigbtn {
    display: flex;
    width: 130.72px;
    height: 44px;
    padding: 12px 21.8px 12px 22px;
    justify-content: center;
    flex-shrink: 0;
}

.smallbtn {
    background: none;
    border: 1px solid;
}

.border-blue-btn {
    border-color: #2997FF;
    color: #2997FF;
}

.border-white-btn {
    border: 1px white solid;
    color: white;
}

.minor-page .smallbtn {
    color: #2997FF;
}

.blue {

    background: #0071E3;
    color: white;
}

.black {
    color: black;
}

.splited-page {
    display: flex;


}
.minor-page-container{width: 100%; display: flex;}
.minor-page {
    width: 50%;
    height: 580px;
    background-size: cover;
    background-position: center;
    margin: 10px;

}

.apple-tv.container {
    margin: 10px;
    width: 100%;
    height: 667px;
    display: flex;
    overflow: auto;
    gap: 20px;
    position: relative;
}

.movies {
    min-width: 1250px;
    height: 667px;
}

.apple-plus.container {
    display: flex;
    width: 100%;
    height: 236px;
    gap: 7.5px;
    margin-top: 15px;
    overflow: auto;
    will-change: auto;
}

.plus {
    min-width: 417px;
    height: 236px;
}

.thumbnail {
    width: 196px;
    height: 196px;
    border-radius: 8px;
    margin: 20px 206px 20px 15px;
}

@media screen and (max-width: 768px) 
{
section.main-page.top { background-image:url(././apple\ img/sec-1-display768.jpg);}
section.main-page.middle {background-image: url(././apple\ img/sec-2-display768.jpg);}
section.main-page.bottom {background-image: url(././apple\ img/sec-3-display768.jpg);}
.page-4{background-image: url(././apple\ img/sec-4-display\ 768.jpg);}
.minor-page-container{display: none;}

}