* {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 200;
    box-sizing: border-box;
}

/* BACKGROUND IMAGES */
.top {
    background-image: url(./apple\ img/apple-sec-1.jpeg)
}

.middle {
    background-image: url(./apple\ img/apple-sec-2.jpeg);
}

.bottom {
    background-image: url(./apple\ img/apple-sec-3.jpeg);
}

.ipad-air {
    background-image: url(./apple\ img/apple-sec-4.1.jpeg);
}

.airpod2 {
    background-image: url(./apple\ img/apple-sec-4.2.jpeg);
}

.iwatch {
    background-image: url(./apple\ img/apple-sec-5.1.jpeg);
}

.macbook-air {
    background-image: url(./apple\ img/apple-sec-5.2.jpeg)
}

.trade-in {
    background-image: url(./apple\ img/apple-sec-6.1.jpeg);
}

.card {
    background-image: url(./apple\ img/apple-sec-6.2.jpeg);
}

.movie-img1 {
    background-image: url(./apple\ img/movie-1.jpg);
}

.movie-img2 {
    background-image: url(./apple\ img/movie-2.jpg);
}

.movie-img3 {
    background-image: url(./apple\ img/movie-3.jpg);
}

.content-1 {
    background-image: url(./apple\ img/plus-1.jpg);
}

.content-2 {
    background-image: url(./apple\ img/plus2.jpg);
}

.content-3 {
    background-color: rgba(27, 38, 50, 1);
    background-image: url(./apple\ img/plus3.jpg; );
    display: flex;
}

.content-4 {
    background-image: url(./apple\ img/plus4.jpg);
}

.content-5 {
    background: #EBB799;
}

/* END IMAGE */


/* HEADER  */

header {
    display: flex;
    width: 100%;
    height: 44px;
    background: rgba(245, 245, 247, 0.80);
    backdrop-filter: blur(10px);
    position: fixed;
    margin: 0;
    padding: 0;
    font-size: 13px;
}

.donate {
    margin: 0;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1D1D1F;
    color: #1D1D1F;
    text-align: center;
    font-size: 14px;
}

.shoplink {
    font-size: 11px;
    padding-top: 20px;
}

nav {
    width: 100%;
    height: 44px;
    display: flex;
    justify-content: center;
    gap: 19.14px;


}

a {
    height: 44px;
}

.head-space {
    width: 100%;
    height: 44px;
    display: flex;
}

.header-text {
    padding-top: 12px;

}

/* BODY START */

body {
    width: 100%;
    height: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
    background: #FFF;
}

section {
    margin-top: 8px;
    background-size: cover;
    background-position: center;
}

.main-page {
    width: 100%;
    height: 692px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.main-page.bottom {
    margin-bottom: 8px;
}



.text-container-bottom {
    /* PAGE 3  */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 50px;
}

/* TEXT */
.text-top {
    margin: 0;
    border: 0;
    padding-top: 55px;
    color: #F5F5F7;
    text-align: center;
    line-height: 60px;
    font-size: 51.406px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.28px;
}

.text-middle {
    margin: 0;
    border: 0;
    color: #F5F5F7;
    text-align: center;
    line-height: 32px;
    font-size: 24.281px;
    font-style: normal;
    font-weight: 200;
    line-height: 32px;
    letter-spacing: 0.196px;
}

.text-first {
    font-size: 36.42px;
    font-weight: 400;
    margin: 0;
}

.text-second {
    margin: 0;
    font-size: 20px;
    margin-top: 6px;
    font-weight: 300;
}

.btn-container {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

button {
    border-radius: 980px;
    min-width: 74px;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16.867px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: -0.374px;
}

.minor-page button {
    width: 90px;
    height: 38px;
    color: #FFF;
    text-align: center;
    font-size: 14px;
}

.bigbtn {
    display: flex;
    width: 130.72px;
    height: 44px;
    padding: 12px 21.8px 12px 22px;
    justify-content: center;
    flex-shrink: 0;
    margin: 0;
    padding: 0;
}

.smallbtn {
    margin: 0;
    background: none;
    border: 1px solid;
}


.border-blue-btn {
    border-color: #2997FF;
    color: #2997FF;
}

.border-white-btn {
    border: 1px white solid;
    color: white;
}

.minor-page .smallbtn {
    color: #2997FF;
    width: 3px;
}

#solo-long-button {
    width: 130px;
}

#applynow {
    width: 90px;
}

.blue {

    background: #0071E3;
    color: white;
}

.airpod2 {
    color: white;
}

.black {
    color: black;
}


.minor-page-container {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0;
    gap: 15px;


}

.minor-page {
    width: 100%;
    height: 580px;
    background-size: cover;
    background-position: center;
    padding-top: 40px;


}

.airpod2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 40px;

}

.apple-tv.container {
    margin-top: 20px;
    width: 100%;
    height: 667px;
    display: flex;
    overflow: auto;
    gap: 20px;
    position: relative;
}

.movies {background-size: cover;
    min-width: 1265px;
    height: 667px;
}

.apple-plus.container {
    width: 100%;
    height: 236px;
    gap: 7.5px;
    margin-top: 15px;
    overflow: auto;
    will-change: auto;
    display: flex;
}

.plus {
    min-width: 417px;
    height: 236px;
}

.thumbnail {
    width: 196px;
    height: 196px;
    border-radius: 8px;
    margin: 20px 206px 20px 15px;
}

.smallscreen {
    display: none;
}

@media screen and (max-width: 768px) {
    .bigscreen {
        display: none;
    }

    .smallscreen {
        display: flex;
        flex-direction: column;
        height: 580px;
    }

    section.main-page.top {
        background-image: url(././apple\ img/sec-1-display768.jpg);
    }

    section.main-page.middle {
        background-image: url(././apple\ img/sec-2-display768.jpg);
    }

    section.main-page.bottom {
        background-image: url(././apple\ img/sec-3-display768.jpg);
    }

    .text-container-top {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: end;
        padding: 50px;
    }

    .text-container-bottom {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        padding: 0%;
    }

    .ipad-air {
        background-image: url(././apple\ img/sec-4-display\ 768.jpg);
        background-size: cover;

    }

    .airpod4 {
        margin: 0;
        color: white;
        padding-top: 320px;
    }

    .iwatch {
        background-image: url(apple\ img/sec-5-display768.jpg);
        background-size: cover;

    }

    .business {
        background-image: url(apple\ img/sec-7-display768.jpg);
        background-size: cover;
        padding-top: 100px;

    }

    .career {
        background-image: url(apple\ img/sec-8-display768.jpg);
        padding-top: 350px;
    }

    .card {
        background-image: url(apple\ img/sec-8-display768.jpg);
    }

    .minor-page-container {
        height: auto;
        display: grid;
        grid-template-columns: repeat(1, auto);
    }


    .apple-tv.container {
        margin-top: 20px;
        width: 100%;
        height: 600px;
        overflow: auto;
        gap: 10px;

    }

    .movies {background-size: cover;
        background-position: center;
        min-width: 300px;
        height: 600px;
    }

    .tv-1 {
        background-image: url(apple\ img/tv-1.jpg);

    }
    .tv-2 {
        background-image: url(apple\ img/tv-2.jpg);
    }
.tv-3{background-image: url(apple\ img/tv-3.jpg);}

.apple-plus.container{
    min-width: 300px;
    height: 190px;
    background-size: cover;
}
}