@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    text-align: center;
    font-family: Montserrat;
     font-weight: 500px;

}



header {
    display: flex;
    backdrop-filter: blur(15px);
    background-color: #00000005;
    position: fixed;
    width: 100%;
    height: 56px;
    margin: 0;

}

.logo {
    width: 20%;
    margin: 12px 20px 10px 20px;
    height: 56px;

}

ul {
    list-style: none;
    display: flex;
    gap:50px;
    font-size: 20px;
    justify-content: center;
    align-self: center;
    margin: 0;
    padding: 0;
    color: rgb(255, 255, 255);
    height: 56px;
    width: 100%;


}

li {
    width: 120px;
    align-content: center;



}

a {
    font-weight: 500;
    font-size: 25px;
    font-family: Avenir;
}

.headerspace {
    width: 20%;
}

section {
    height: 100vh;
    width: 100%;
    background-size: cover;
    text-align: center;
}
/* ALL PAGE BACKGROUND IMAGE */
.page1{background-image:url(image/Solar.jpg);}
.page2{background-image: url(image/page\ 2.jpg);}
.page3{background-image: url(image/page3.jpg);}
.page4{background-image:url(image/page4.jpg);}
.page5{background-image:url(image/tesla3.jpg);}
.page6{background-image:url(image/tesla2.jpg);}
.page8{background-image: url(image/tesla\ 1.jpg);}
.page9{background-image: url(image/tesla9.jpg);}
.page10{background-image: url(image/page10.jpg);}

.videocontainer{position: relative; 
overflow: hidden;
width: 100%;
height: 100%;
}

#myvideo{ position: absolute;
    object-fit:cover; 
width: 100%;
height: 100%;
top:0;
left:0;

}
   
.videotext{position: absolute;  
         z-index: 1;
         top:50%;
         left:50%;
         transform: translate(-50%, -50%); 
         color: aliceblue;}

#videobutton{
    color: rgb(255, 255, 255);
    width: 400px;
    height: 46px;
    border-radius: 4px;
    font-size: 20px;
    border: 3px solid;
    border-color: aliceblue;
    background: none;
   
   
     }

h1 {
    margin: 0;
    justify-self: center;
    align-self: center;
    padding-top: 200px;
    font-weight: 500px;
    line-height: 48px;
    color: aliceblue;
    font-size: 56px;

}



p {
    margin: 0;
    justify-self: center;
    align-self: center;
    font-size: 18px;
    font-weight: 200px;
    font-family: Avenir;
    line-height: 18px;
    color: aliceblue;
    text-decoration: underline;
    padding-top: 20px;
    text-decoration: none
   
}
.bigp{font-size: 30px;
line-height: 20px;
padding-top: 30px;
text-decoration: none
;}

.blacktext{color: black;}
#blackp{color: black;}


.buttonbox {
    margin: 0;
    padding-top: 670px;
    justify-content: center;
    justify-items: center;
    align-self: center;
    text-align: center;
    width: 100%;
    height: 56px;
    backdrop-filter: blur(8x);
    display: flex;
    gap: 30px;


}


.white {
    background: rgba(244, 244, 244, 0.8);
    backdrop-filter: blur(8px);
    color: black;
    width: 400px;
    height: 56px;
    border-radius: 4px;
    font-size: 16px;
    border: 0;
}

.black {
    background: rgba(23, 26, 32, 0.65);
    backdrop-filter: blur(8px);
    color: aliceblue;
    width: 400px;
    height: 56px;
    border-radius: 4px;
    font-size: 16px;
    border: 0;
}
.foot{width: 100%;
    height: 100px;
   color: aliceblue;
    margin:0;
 padding-top: 70px;
 justify-content: center;

}
.foot-1{width: 100%;
    height: 100px;
   color: aliceblue;
    margin:0;
 padding-top: 50px;
 justify-content: center;}

 .foot-2{padding: 10px;
text-decoration: underline;}

#foot{color: black;}