


body {
    margin: 0;
    display: flex;
    width: 100%;
    height: 100vh;
    background-size: cover;
    text-align: center;
  
 


}

header {
    color: aliceblue;
    margin: 40px;
    position: fixed;
    width: 100%;
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


span.logo {

    margin: 0;
    padding: 0;
    height: 56px;
    width: 20%;

}

.headerspace {
    width: 20%;
}

ul {

    margin: 0;
    margin-left: 20%;
    width: 100%;
    display: flex;
    justify-self: center;
    justify-content: center;
    align-items: center;
    gap: 30px;

}

li {

    display: flex;
    background-size: cover;
    width: 100%;
    height: 60px;
    ;
    justify-content: center;
    align-items: center;


}

section {
    margin: 0;
    padding: 0;
    border: 0;
}

.main1 {
    background-image: url(./tour\ img/lake.jpg);
    background-size: cover;
    margin: 0;
    padding: 0;
    width: 100%;


}


.text {
    align-content: center;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
    height: 100%;
    background-size: cover;



}

.text1 {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Bebas Neue;
    font-size: 80px;
    font-weight: 400;
    line-height: 80px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: aliceblue;
}

.text2 {
    margin: 0;
    font-family: Bebas Neue;
    font-size: 200px;
    font-weight: 400;
    line-height: 250px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: aliceblue;
}

.text3 {
    margin: 0;
    font-family: Hanuman;
    font-size: 64px;
    font-weight: 900;
    line-height: 64px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: aliceblue;
}

.title {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 90px;
}

.top-title {
    color: #000;
    text-align: center;
    font-family: GIP;
    font-size: 42px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

}

.sub-title {
    color: rgba(24, 24, 27, 0.70);
    text-align: center;
    font-family: GIP;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
}

.map {
    background-image: url(tour\ img/Map.jpg);
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 1400px;
    display: flex;
    flex-direction: column;


}

.both-container {
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
}

.together {
    width: 100%;
    height: 100%;
    position: relative;

}

.card {
    display: flex;
    width: 600px;
    height: 90px;
    padding: 40px;
    border-radius: 120px;
    margin: 20px;
  
    font-size: 20px;

}
.c-1{background-color: rgba(234, 229, 192, 0.8);}
.c-2{background-color:rgba(139, 184, 193, 0.80); ;}
.c-3{background-color:rgba(170, 216, 215, 0.80) ;}
.c-4{background-color: rgba(139, 192, 189, 0.80);}
.c-5{background-color: rgba(151, 204, 224, 0.80);}


.icon {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    display: NONE;

}

/* sukhbaatar */
.i-1 {
    background-image: url(tour\ img/icon-2.jpg);
    position: absolute;
    top: 30%;
    left: 80%;
}

/* ------------ICON------------- */
/* khuvsgul */
.i-2 {
    background-image: url(tour\ img/icon-4.jpg);
    position: absolute;
    top: 3%;
    left: 45%;
}

/* khorgo */
.i-3 {
    background-image: url(tour\ img/icon-1.jpg);
    position: absolute;
    top: 40%;
    left: 50%;
}

/*Terkhiin tsagaan */
.i-4 {
    background-image: url(tour\ img/icon-3.jpg);
    position: absolute;
    top: 15%;
    left: 65%;
}

.i-5 {
    background-image: url(tour\ img/icon-5.jpg);
    position: absolute;
    top: 35%;
    left: 45%;
}

/* -------HOVER----------- */
.c-1:hover+.i-1 {
    display: block;
}

.c-2:hover+.i-2 {
    display: block;
}

.c-3:hover+.i-3 {
    display: block;
}

.c-4:hover+.i-4 {
    display: block;
}

.c-5:hover+.i-5 {
    display: block;
}